<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TrackMeNot增强插件下载</title>
</head>
<body>
<h3>TrackMeNot增强插件下载:</h3>

<a href="/downloadtmn">TrackMeNot_Enhanced.zip</a>

<h3>插件说明:</h3>
<ol>
<li>本插件仅供学术研究使用</li>

    <li>本插件在<a href="http://trackmenot.io/">TrackMeNot</a>基础上修改</li>


<li><a href="https://chromecj.com/utilities/2014-09/181.html">插件安装方式</a></li>
            <li>本插件用于收集用户在搜索引擎进行查询时发送的文本，同时收集TrackMeNot自动发送的虚假查询文体</li>

<li>本插件会根据用户设置启动，用户设备信息会进行匿名处理，用户查询仅应用于学术研究</li>
<li>联系邮箱:striveed@126.com</li>
    </ol>
</body>
</html>